/*common start*/
body{
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #010101;
}
/*common end*/
/*header start*/
header{
	background-color: #fcdb00;
	padding: 20px 0;
}
.c_nav{}
.logo{}
.menu ul li a{
	padding: 0 40px !important;
	/*margin: 0 40px;*/
	font-size: 22px;
	font-weight: 700;
	color: #010101 !important;
}
.menu ul li:last-child a{
	padding-right: 0 !important;
}
.menu ul li a:hover {
	color: white !important;
}
/*header end*/

/*slider start*/
.slider{
	background: #fcdb00;
	padding-bottom: 100px;
}
/*indicator*/
.s_text{}
.s_text h1{
	font-size: 32px;
	font-weight: 700;
}
.s_text h2{
	font-size: 20px;
	font-weight: 400;
}
.s_text p{
	color: #555555;
}
.s_icon{}
.s_icon ul li i{
	font-size: 42px;
}
.s_img{}
.s_img img{}
/*slider end*/